doctype html

html(lang="ja")
  head
    meta(charset="UTF-8")
    title This is a Pug template
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    //- link(rel="stylesheet" type="text/css" href="../stylesheet/main.css")

  body.body
    //- include include/block/header.pug
    main.box
      h1 This is a Pug template
      img(src="../img/cat01.png", alt="cat01")
    //- include include/block/footer.pug

  //- script(src="../javascript/main.js")
