@charset "UTF-8";
/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700,800,900");
/* ====== common ====== */
/* ====== link ====== */
a, a:hover {
  transition: all  0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

/* ====== reset ====== */
ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none;
    margin: 0;
    padding: 0; }

/* ====== btn ====== */
.btn-base {
  display: block;
  width: 300px;
  margin-width: 80%;
  margin: 15px auto;
  padding: 10px 10px 10px 14px;
  display: block;
  border-radius: 30px;
  border: 4px solid #333;
  color: #333;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 2px; }

.btn-blue {
  background-color: #56C0E0; }

.btn-orange {
  background-color: #FFAD3B; }

/* ====== title ====== */
h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center; }

h2 {
  background-color: #FFE631;
  font-size: 1.2em;
  padding: 10px 10px 10px 15px;
  margin: 30px 0 0 0;
  font-weight: 600;
  letter-spacing: 5px;
  border-radius: 15px 15px 0 0;
  background-image: url("img/foot.png");
  background-position: center;
  background-size: auto 80px; }

/* ====== text ====== */
strong {
  color: #FFAD3B; }

/* ====== base ====== */
body {
  background-color: #F8F7F0;
  color: #555;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-image: url("img/footer-1.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  overflow-x: hidden; }
  body::before, body::after {
    content: "";
    background-image: url("img/side.png");
    background-repeat: repeat-y;
    background-size: 60px auto;
    position: absolute;
    width: 180px;
    height: 100%;
    opacity: 0.8; }
  body::before {
    left: -20px;
    top: 0; }
  body::after {
    right: -20px;
    transform: scale(-1, 1);
    top: -50px; }

/* ====== header ====== */
header {
  position: relative;
  padding: 20px 0 10px; }
  header::before, header::after {
    content: "";
    background-image: url("img/flag.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 180px;
    height: 100px;
    display: block; }
  header::before {
    top: 0;
    left: 0; }
  header::after {
    transform: scale(-1, 1);
    top: 0px;
    right: 0; }

h1 img {
  width: 600px;
  margin: 0 auto;
  display: block; }

/* ====== footer ====== */
footer {
  color: #fff;
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 5px 0;
  width: 100%;
  position: relative;
  margin: 60px 0 0;
  /*&::before{
  	content: "";
  	background-image: url("img/footer.png");
  	background-repeat: repeat-x;
  	background-size: 100px auto;
  	position: absolute;
  	width: 100%;
  	height: 100px;
  	display: block;
  	top: -15px;
  }*/ }
  footer::after {
    content: "";
    background-image: url("img/cat02.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: 20px;
    right: -30px;
    display: block; }

/* ====== 説明 ====== */
.instoduce img {
  width: 145px;
  max-width: 100%; }
.instoduce ul {
  width: 100%;
  font-size: 0;
  margin: 0 0 10px; }
  .instoduce ul li {
    display: inline-block;
    text-align: center;
    width: 15%; }
    .instoduce ul li:last-child {
      background-color: #fff;
      padding: 25px 10px;
      text-align: center;
      width: 85%;
      font-size: 18px;
      border-radius: 15px; }

/* ====== 登録フォーム ====== */
.form li {
  display: inline-block; }

/* ====== 登録済みメンバー ====== */
.member {
  background-color: #fff;
  padding: 15px;
  margin: 0 auto 35px;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1)); }
  .member ul {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-weight: 500; }
    .member ul li {
      background-color: #EFEAD5;
      text-align: center;
      padding: 8px;
      min-height: 46px; }
