// ==========================
// button.sass
// ==========================

.button
  width: 60rem
  height: 10rem
  background-color: #EEE
  display: inline-block
  border: .3rem solid #000
  box-sizing: border-box
  font-size: 40px
  font-weight: 800
  border-radius: 60rem
