// ==========================
// Variable.sass
// ==========================

// size

$margin: 7rem
$marginHalf: ($margin / 2)

// color

$colorBlack: #333333
$colorMain: #F8F7F0
// $colorReverse: #EFEAD5
$colorReverse: #F0EEE4
$colorAction: #56C0E0
$colorAccent: #E76C78
$colorSubAction: #FFAD3B
$colorHighlight: $colorSubAction

$colorSub: rgba(#C3AC61, .8)
$colorSub-light: #EFEAD5
$colorSub-reverse: rgba(#FFF, .5)
